*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}
body{
  background-image:url('https://t4.ftcdn.net/jpg/03/73/44/29/360_F_373442964_nTrSjNoWBD1stv6UqeczXxHuYmg7CRap.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;

}