.container {
    width: 100%;
    height: 100vh;
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

}

.container h1 {
    font-size: 60px;
    color: #5c08c8;
    background-image: -webkit-linear-gradient(90deg, #5c08c8 14%, #0ebec2 66%, #9e979e 21%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.container a {
    text-decoration: none;
    color: #bfd2cd;
    background-image: -webkit-linear-gradient(45deg, #1c4ae0 18%, #43704b 63%, #6effff 81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.container a:hover {
    text-decoration: underline;
    color: #5892d0;
    font-size: 35px;
}

.container ul li {
    text-decoration: none;
    margin-top: 20px;
    /* background-color: aquamarine; */
    padding: 10px 100px;
    list-style: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 800;
}